<h3>Register</h3>

<form [formGroup]="registerForm">
    <div>
        <label for="nickname">Nom :</label>
        <input type="text" formControlName="nickname">
    </div>
    <div>
        <label for="email">Email :</label>
        <input type="email" formControlName="email">
    </div>
    <div>
        <label for="password">Mot de passe :</label>
        <input type="password" formControlName="password">
    </div>
    <button (click)="handleSubmit()" type="submit">S'enregister</button>
</form>
